body {
  background: #418698;
}
a {
  color: #f0cf9b;
}
.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  color: #e2ba78;
  font-family: "Shizuru", cursive;
  font-weight: 500;
}
.App-footer {
  text-align: center;
  font-size: 14px;
  margin: 30px 0;
}
