.Dictionary {
  font-family: "Varela Round", sans-serif;
}

.Dictionary h1 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}
.Dictionary section {
  background: #56b0ae;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
  margin: 20px 0;
}
.Dictionary input {
  width: 90%;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #ddd;
  color: #333;
  font-size: 20px;
}

.Dictionary .hint {
  font-size: 14px;
  margin-top: 8px;
}
