.Phonetic {
  margin: 20px 0;
}
.Phonetic a {
  border: 1px solid #ddd;
  padding: 8px 16px;
  border-radius: 20px;
  text-decoration: none;
  margin-right: 10px;
  font-weight: bold;
  transition: all 150ms ease-in-out;
  font-size: 12px;
}
.Phonetic a:hover {
  background: #e6d2df;
  color: rgb(26, 24, 24);
}
.Phonetic .text {
  font-weight: bold;
  opacity: 0.8;
}
